* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

main {
	min-height: 50vh;
	width: 50rem;
	color: rgb(37, 173, 37);
	padding: 1rem 0;
	overflow: hidden;
}

.blink {
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: rgb(37, 173, 37);
	}
}

.ascii-train-scroll {
	position: relative;
	width: 100%;
	animation: 15s train linear infinite;
	transform: translateX(-200%);
}

@keyframes train {
	0% {
		transform: translateX(80%);
	}
	100% {
		transform: translateX(-216%);
	}
}

.blink1 {
	animation: 1s blink1 step-end infinite;
}

@keyframes blink1 {
	from {
		color: rgb(37, 173, 37);
	}
	25% {
		opacity: 0.5;
	}
	50% {
		color: transparent;
        opacity: 0;
	}
	75% {
		color: transparent;
	}
	to {
		color: transparent;
	}
}

.blink2 {
	animation: 1s blink2 step-end infinite;
}

@keyframes blink2 {
	from {
		color: transparent;
	}
	25% {
		color: rgb(37, 173, 37);
	}
	50% {
		opacity: 0.5;
	}
	75% {
		color: transparent;
        opacity: 0;
	}
	to {
		color: transparent;
	}
}

.blink3 {
	animation: 1s blink3 step-end infinite;
}

@keyframes blink3 {
	from {
		color: transparent;
	}
	25% {
		color: transparent;
	}
	50% {
		color: rgb(37, 173, 37);
	}
	75% {
		opacity: 0.5;
	}
	to {
		color: transparent;
        opacity: 0;
	}
}

.blink4 {
	animation: 1s blink4 step-end infinite;
}

@keyframes blink4 {
	from {
		color: transparent;
	}
	25% {
		color: transparent;
	}
	50% {
		color: transparent;
	}
	75% {
		color: rgb(37, 173, 37);
	}
	to {
		color: transparent;
        opacity: 0;
	}
}
